$water: #fefefe;
$countries: #595758;
$dates-container: rgba(255, 255, 255, 0.7);
$statistics-container: rgba(150, 150, 150, 0.7);

$date-headline: rgb(150, 150, 150);
$date-headline-hover: rgb(80, 80, 80);

$thin-separator: #a9a9a9;
$thin-separator-light: #cacaca;
$xaxis-fill: #cdcdcd;

$dashline: rgba(165, 165, 165, 0.8);
$axis-dashline: rgba(165, 165, 165, 0.6);
$highlight-casualties: rgba(152, 70, 66, 1);
$highlight-incidents: rgba(165, 154, 80, 1);
$unhighlight-casualties: rgba(152, 70, 66, 0.6);
$unhighlight-incidents: rgba(165, 154, 80, 0.6);

$fix-highlight: rgb(60, 60, 60);
$fix-unhighlight: rgb(230, 230, 230);

$highlight-countries: #C9CCB4;

$legend: #9C989A;
$statistics-legend: #efefef;

@mixin border-radius($radius) {
  border-radius: $radius;
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
}

@mixin semicircle-radius($radius) {
  border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -khtml-border-top-left-radius: $radius;

  border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -khtml-border-top-right-radius: $radius;
}
