$water: #fefefe;
$dates-container: rgba(255, 255, 255, 0.7);
$countries: #4d4d4d;
$date-headline: #727A7F;
$thin-separator: #DFEEF7;
$casualties: rgba(152, 70, 66, 0.7);
$incidents: rgba(165, 154, 80, 0.7);
$xaxis-fill: #cdcdcd;
