@import "variables";
@import "ps-main";

.ps-theme-sod {
  @include ps-container(map-merge($ps-theme-default, (
    border-radius: 10px,
    rail-default-opacity: 0.6,
    scrollbar-x-rail-height: 5px,
    rail-hover-opacity: 0.6,
    rail-hover-bg: none,
    scrollbar-x-height: 5px,
    bar-bg: white,
    bar-container-hover-bg: $date-headline-hover,
    bar-hover-bg: none,
  )));

  .ps-scrollbar-x-rail {
    display: block;
    background: url($timeline-scroll-dot) repeat-x;
    transition: none !important;
    width: 100%;
  }
}

body {
  background: $water;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

a, h1, h2, h3, p {
  font-family: 'Lato', sans-serif;
}

.legend {
  position: absolute;
  top: 15px;
  right: 70px;

  ul {
    list-style: none;

    li {
      margin-bottom: 7px;

      .definition {
        color: $legend;
        font-size: 1.7em;
        margin-left: 10px;
      }

      .color {
        padding: 1px 38px;
        @include border-radius(10px);

        &.incidents {
          background: $highlight-incidents;
        }

        &.casualties {
          background: $highlight-casualties;
        }
      }
    }
  }
}

.statistics {
  background: $statistics-container;
  position: absolute;
  width: 300px;
  margin: 150px 45% 0;
  padding: 3px 0;
  display: none;
  @include border-radius(15px);

  &.visible {
    display: block;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 7px;
      padding: 10px 0;

      .definition {
        color: $statistics-legend;
        font-size: 1.7em;
        margin-left: 10px;
      }

      .color {
        margin-right: 20px;
        padding: 5px 15px;
        @include border-radius(15px);

        &.incidents {
          background: $highlight-incidents;
        }

        &.casualties {
          background: $highlight-casualties;
        }
      }
    }
  }
}

.map-container {
  margin: 0 auto;
  width: 100%;

  &.fixed {
    position: fixed;
    z-index: -1;
  }

  .world-map-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;

    .world-map {
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;

      .country {
        fill: $countries;

        &.highlight {
          fill: $highlight-countries;
          cursor: pointer;
        }
      }
    }
  }
}

.graph-slot {
  height: 35px;
  position: fixed;
  width: 100%;
  bottom: 94px;

  p.selected-date {
    width: auto;
    letter-spacing: 1px;
    left: 18px;
    position: fixed;
    font-size: 1.2em;
    line-height: 9px;
    color: $fix-highlight;
  }

  .slot {
    margin: 0 auto;
    width: auto;
    background: $date-headline;
    @include semicircle-radius(10px);

    p {
      cursor: pointer;
      width: 60px;
      text-align: center;
      margin-top: 5px;
      color: $water;

      &:hover {
        color: $date-headline-hover;
      }

      i {
        font-size: 1.5em;
      }
    }
  }
}

.dates-container {
  background: $dates-container;
  border-top: solid 1px $thin-separator-light;
  height: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;

  .xaxis-container {
    border-top: solid 1px $thin-separator;
    color: $date-headline-hover;
    padding: 0.8em 1em 0;
    min-height: 50px;
    height: auto;
    width: 100%;

    .timeaxis {
      position: relative;
      padding: 10px 0 6px;
      margin-bottom: 10px;
      overflow-x: auto;
      width: 98%;
    }

    .years {
    
    }

    .months, .days {
      display: none;

      &.visible {
        display: block;
      }
    }

    .xaxis {
      path.domain {
        fill: $xaxis-fill;
      }
      
      .tick {
        text {
          cursor: pointer;
          fill: $date-headline;
          font-size: 1.4em;

          &.highlight {
            fill: $date-headline-hover;
          }

          &.fix-highlight {
            fill: $fix-highlight;
          }

          &.fix-unhighlight {
            fill: $fix-unhighlight;
          }
        }
      }
    }
  }

  .timeline-container {
    display: none;
    height: 230px;
    margin: 0 auto;

    .timeline {
      .axis {
        
        .tick {
          text {
            cursor: pointer;
            fill: $date-headline;
            font-size: 1.4em;

            &.highlight {
              fill: $date-headline-hover;
            }
          }
        }

        &.x {
          .domain {
            fill: $xaxis-fill;
          }
        }
      }

      path.line-chart {
        cursor: pointer;
          fill: none;
          stroke-width: 1.5px;
          stroke-dasharray: 5,5;
          stroke: $dashline;
      }

      circle {
        cursor: pointer;

        &.incidents {
          fill: $unhighlight-incidents;

          &.highlight {
            fill: $highlight-incidents;
          }
        }

        &.casualties {
          fill: $unhighlight-casualties;

          &.highlight {
            fill: $highlight-casualties;
          }
        }
      }
    }
  }
}
