@import "variables";

body {
  background: $water;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

a, h1, h2, h3, p {
  font-family: 'Lato', sans-serif;
}

.map-container {
  margin: 0 auto;

  &.fixed {
    position: fixed;
    z-index: -1;
  }

  .world-map {

    .country {
      fill: $countries;
    }
  }
}

.dates-container {
  background: $dates-container;
  border-top: solid 1px $thin-separator;
  height: auto;
  padding-top: 10px;

  .year-container {
    height: 230px;
    margin: 0 auto;

    .timeline {
      .axis {
        
        .tick {
          text {
            fill: $date-headline;
          }
        }

        &.x {
          .domain {
            fill: $xaxis-fill;
          }
        }
      }

      circle.dot {
        cursor: pointer;

        &.incidents {
          fill: $incidents;
        }

        &.casualties {
          fill: $casualties;
        }
      }
    }
  }
}
