$white: #ffffff;
$water: #fefefe;
$blue: #2ea4a8;
$dates-container: rgba(255, 255, 255, 0.7);
$statistics-container: rgb(150, 150, 150);

$countries: #ebe9e9;
$highlight-countries: red;

$date-headline: rgb(150, 150, 150);
$date-headline-hover: rgb(80, 80, 80);

$thin-separator: #a9a9a9;
$thin-separator-light: #cacaca;
$xaxis-fill: #cdcdcd;
$yaxis-fill: #bfbebe;

$dashline: rgba(165, 165, 165, 0.8);
$axis-dashline: rgba(165, 165, 165, 0.6);
$highlight-casualties: rgba(152, 70, 66, 1);
$highlight-incidents: rgba(165, 154, 80, 1);
$unhighlight-casualties: rgba(152, 70, 66, 0.6);
$unhighlight-incidents: rgba(165, 154, 80, 0.6);

$fix-highlight: rgb(60, 60, 60);
$fix-unhighlight: rgb(230, 230, 230);

$timeline-scroll-dot: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4AYJBzAFgrvf8QAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAASElEQVQI122MMQ7AIAzEXEQ/2jkDLDyic+Z8tEuXgEKEl8iRdZeI3MALPIABQ1U/EtWj5j5vz2HxpUj2FVr62SmswAhLFnzjB3IqC9UOpJWAAAAAAElFTkSuQmCC";

$legend: #9c989a;
$statistics-legend: #7f7f7e;

$years-highlights: $yaxis-fill;
$months-highlights: #ffb14a;
$days-highlights: #e5404c;

@mixin border-radius($radius) {
  border-radius: $radius;
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
}

@mixin semicircle-radius($radius) {
  border-top-left-radius: $radius;
  border-top-left-radius: $radius;
  -webkit-border-top-left-radius: $radius;
  -khtml-border-top-left-radius: $radius;

  border-top-right-radius: $radius;
  border-top-right-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -khtml-border-top-right-radius: $radius;
}
